/*******************************
 * surfmap.css [SURFmap]
 * Author: Rick Hofstede <r.j.hofstede@utwente.nl>
 * University of Twente, The Netherlands
 *
 * LICENSE TERMS: outlined in BSD-license.html
 *******************************/

html { height: 90% }
body { height: 90%; margin: 10px; padding: 0; font-family: Verdana; }
a:link { color: black; text-decoration: none; }
img { border: 0; }
input[type=text], textarea { border-width:1px; border-style:solid; border-color:black; font-size:11px; }
label { margin-left:2px; }

.footer { font-size:65%; vertical-align:text-top; }
.legendTextCell { padding-left:15px; float:left; }
.legendImageCell { padding-left:25px; float:left; }
.netflowDataDetailsTitle { font-size: 80%; font-weight: bold; background-color: #46A3CA; color: white; }
.netflowDataDetails { font-size: 70%; }
.informationWindowHeader { font-weight: bold; font-size: 75%; background-color: #4DB2E5; text-align: center; color:white; cursor: default; }
.informationWindowBody { font-size: 80%; text-align: center; }
.informationWindowFooter { font-size: 75%; text-align: center; }
.datetimeinput { width:120px; padding:2px 0px 2px 5px; float:right; }

/* jQuery */
.ui-progressbar-value { background-image: url(../images/pbar-ani.gif); }
.ui-widget { font-family: Verdana; font-size:80%; }
.ui-widget .ui-widget { font-family: Verdana; font-size:80%; }
.ui-widget-overlay { background: #FFFFFF; opacity: .60; filter:Alpha(Opacity=60); }

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* Menu panel (http://spyrestudios.com/how-to-create-a-sexy-vertical-sliding-panel-using-jquery-and-css3/) */
.panel {
position: absolute;
top: 86px; right: 5px;
display: none;
background: #6E6E6E;
border:1px solid #111111;
border-radius:20px 0px 0px 20px;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
width: 210px;
height: auto;
padding: 0px 20px 10px 15px;
filter: alpha(opacity=90);
opacity: .90;
}

.panel {
margin: 0 0 15px 0;
color: #cccccc;
}

a.trigger {
position: absolute;
text-decoration: none;
top: 86px; right: 5px;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 15px 10px 15px 35px;
font-weight: 700;
background:#333333 url(../images/plus.png) 15% 55% no-repeat;
border:1px solid #444444;
border-radius:20px 0px 0px 20px;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}

a.trigger:hover {
position: absolute;
text-decoration: none;
top: 86px; right: 5px;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 15px 10px 15px 45px;
font-weight: 700;
background:#222222 url(../images/plus.png) 15% 55% no-repeat;
border:1px solid #444444;
border-radius:20px 0px 0px 20px;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}

a:focus {
outline: none;
}

a.active.trigger {
background:#222222 url(../images/minus.png) 15% 55% no-repeat;
}

/* MultiSelect (jQuery) */
.ui-multiselect { padding:3px 0 2px 6px; text-align:left; } /* .ui-multiselect { padding:2px 0 2px 4px; text-align:left; } */
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

.panelSectionTitle {
color:#FF192A;
}

.panelSectionContent {
font-size: 8pt;
margin-left:10px;
}
